ADDR=:8084
DATABASE_URL=postgres://myuser:mypassword@localhost:5432/mydatabase?sslmode=disable
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_BOT_USERNAME=YourBotName
JWT_SECRET=change-me
INTERNAL_API_KEY=change-me-internal
TIMEOUT=40s
